<%- include("partials/header"); -%>
    <h1>About Me</h1>
    <h4>I am Subash Gajurel, born and raised in Hetauda-Makawanpur. Currently, I am living in Chabahil-Kathmandu, studying BIT(Bachelor's in Information Technology).</h4>
<%- include("partials/footer"); -%>
