<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <h3>You can contact me from any given source:</h3>
    <h4><a href="https://www.facebook.com/subash.gajurel.777">Facebook/subash</a></h4>
    <h4><a href="tel:9865413843">9865413843</a></h4>
    <h4><a href="https://www.linkedin.com/in/subash-gajurel-b36625251/">Linkedin/subash</a></h4>
    <h4><a href="mailto:gajju.9731@gmail.com">Email/subash</a></h4>
<%- include("partials/footer"); -%>
